# to exclude Obsidian workspace settings (including plugin and hotkey configurations)
.obsidian/

# OR only to exclude workspace cache
.obsidian/workspace

# This file is used to keep track of last auto backup/pull
.obsidian-git-data

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store

# dependencies
/node_modules

# IDE
.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
knguyenuit_rsa
knguyenuit_rsa.pub
