---
tags: null
title: Formal Verification
date: null
description: null
authors: null
menu: radar
type: null
hide_frontmatter: false
confidence: null
assign: null
priority: null
status: Adopt
quadrant: Techniques
tag: Testing
---

### Description
When doing the testing, usually QA’s members needs to update their record and their status on the testing’s ticket. So basically, for this one just sharing on how we’re going to do it.

### What can we do with it
* Testing on the Web Browser

1. Provide the name of the environment where we test on the ticket: **Passed** or **Failed**
1. Provide the recordings with voice over will be easier for the listener to follow up/Provide an image of the testing
1. Tag related person in the testing’s ticket and cc your Product Manager

* Testing on the Mobile Application

1. Provide the name of the environment where we test on the ticket: **Passed** or **Failed**
1. Provide the name of the version from the device we are using to test: For example: iPhone 14 - 16.0 - etc.
1. Provide the recordings with voice over will be easier for the listener to follow up/Provide an image of the testing
1. Tag related person in the testing’s ticket and cc your Product Manager
